<IfModule mod_rewrite.c>
    RewriteEngine On

    # Forward the root directory to public/index.php
    RewriteRule ^$ public/index.php [L]

    # Forward all other requests into the public folder
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>
